@charset "UTF-8";

/* coding: utf-8 */
body {
	position: absolute;
	left: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 100%;
}

a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	display: block;
}

h1 {
	font-size: 2.5em;
	padding-top: .3em;
	padding-bottom: .5em;
	font-weight: bold;
	background-color: #990000;
	margin-top: 0em;
	text-align: center;
}

form {
	margin-left: 5px;
	margin-right: 10px;
}

form * {
	margin-left: 5px;
	display: block;
}

fieldset {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 0;
	background: #3A0000;
}

legend {
	font-size: 110%;
	font-weight: bold;
	padding-bottom: .5em;
}

form label {
	float: none;
	font-size: .9em;
	margin-bottom: .5em;
	margin-top: .5em;
	font-weight: bold;
	width: 200px
}

option {
	margin-left: 0px;
}

#ope_date_ope {
	width: auto;
}

textarea {
	line-height: normal;
	margin-bottom: .7em;
	width: 200px;
}

select {
	width: 200px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin: 0.2em 0;
	margin-left: 5px;
}

button {
	background-color: #554444;
	border: #ffffff solid 1px;
	text-align: center;
	font-size: 2em;
	margin-bottom: 10px;
	color: #ffffff;
	width: 200px;
}

button::hover {
	background-color: #706666;
}